.container {
  background-color: var(--secondary);
  padding: 2rem 5rem;
  composes: shadow from global;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.combobox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.comboSearch {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 4px;
  font-weight: 400;
  color: #212529;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comboSearch input {
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  letter-spacing: -0.0025em;
  line-height: 26px;
}

.comboSearch input:active,
.comboSearch input:focus,
.comboSearch button {
  outline: none;
}

.comboSearch button,
.clearButton {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.comboOptions {
  composes: shadow from global;
  position: absolute;
  top: 3.5rem;
  width: 100%;
  margin-top: 0.5rem;
  background-color: var(--secondary);
  list-style: none;
  border-radius: 4px;
  border: 2px solid var(--neutral);
  z-index: 10;
}

.comboOption > div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.customComboOption > div {
  padding: 0.5rem;
}

.comboOption .icon {
  width: 2rem;
  display: flex;
}

.isActive,
.customComboOption > div:hover {
  background-color: var(--base);
  color: var(--primary);
}

.formButtons {
  display: flex;
}

.selected {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.container a {
  max-width: fit-content;
  margin-left: auto;
}
