@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sahitya&display=swap');

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --base: #ffefef;
  --primary: #ed5353;
  --primary-focus: #ff6b6b;
  --secondary: #ffffff;
  --secondary-focus: #f9f9f9;
  --neutral: #ced4da;
  --neutral-focus: #888888;
  --error: #ff7373;
  --error-focus: #ff8585;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--base);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.shadow {
  box-shadow: rgba(255, 127, 127, 0.511) -4px 9px 25px -6px;
}

