.header {
  position: relative;
  padding: 2.5rem 5rem;
}

.header img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 8rem;
}

.header main {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
