.container {
  width: 100%;
  max-width: 80%;
}

.container form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100vh;
  overflow-y: auto;
}

.inputField {
  display: flex;
}

.contoller {
  border: 2px solid red;
}

.inputField .group {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inputField textarea {
  flex: 5;
}

.inputField label {
  width: 30%;
  padding: 10px 0px;
}

.action {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.selectBox {
  flex: 5;
}
