.button {
  outline: none;
  min-width: fit-content;
  max-width: 200px;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
  padding: 10px 16px;
  border-radius: 8px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 2px solid transparent;
  width: 100%;
  white-space: normal;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 0.75rem;
  cursor: pointer;
}

.largeButton {
  font-size: 18px;
  letter-spacing: -0.0025em;
  line-height: 26px;
  padding: 16px 20px;
}

.withIcon {
  justify-content: space-between;
  cursor: default;
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-focus);
}

.secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

.secondary:hover {
  background-color: var(--secondary-focus);
}

.error {
  background-color: var(--error);
}

.error:hover {
  background-color: var(--error-focus);
}

.soft {
  background-color: transparent;
  border: 2px solid;
}

.soft:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--primary);
}

.button:disabled {
  background-color: var(--neutral);
  cursor: not-allowed;
}

.icon {
  display: flex;
  transform: translateY(-1px);
  cursor: pointer;
  color: var(--neutral-focus);
}

.icon:hover {
  color: rgb(251, 234, 2);
}
