.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70%;
}

.container span {
  text-decoration: underline;
  margin-left: 0.3rem;
}

.container input[type='checkbox'] {
  border: 2px solid green;
  padding: 1rem;
}

.container label {
  margin-left: 1rem;
  font-size: 0.9rem;
}

.inputs {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputBox input {
  width: 100%;
}

.inputs p {
  color: red;
}
