.main {
  max-width: 70%;
  margin: auto;
  position: relative;
  top: -1.5rem;
}

.position a {
  width: 200px;
}

.title {
  composes: shadow from global;
  background-color: var(--secondary);
  padding: 2rem;
  text-align: center;
}

.title p {
  width: 100%;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.0075em;
  line-height: 36px;
}

.info {
  composes: shadow from global;
  background-color: var(--secondary);
  padding: 2rem;
  margin-top: 2rem;
}

.info > div {
  margin-top: 2rem;
}

.info div:first-child {
  margin-top: 0rem;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.metadata > p {
  opacity: 0.7;
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.position > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.position > a {
  display: flex;
  justify-content: flex-end;
}

.position button {
  max-height: min-content;
}

.details {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.details > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details .icon {
  opacity: 0.5;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.about,
.description,
.skills,
.additional {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.badge {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  margin-left: 1.5rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.deleteButton {
  margin-left: auto;
}
